/* CUSTOM-PROMPTS */

:root {
    --main-text: rgba(17, 21, 23, 1);
    --search-color: rgba(132, 132, 132, 1);
    --header-color: #fff;
    --bg-color: #f8f8f8;
    --logo-color: #111517;
    ;
}


/* GLOBAL */

.dark-mode {
    --main-text: rgba(255, 255, 255, 1);
    --header-color: rgba(43, 56, 68, 1);
    --bg-color: rgba(32, 44, 54, 1);
}

*:focus {
    outline: 3px dotted rgb(141, 161, 167);
    outline-offset: 3px;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    font-family: "Nunito Sans", "Arial", sans-serif;
    color: var(--main-text);
    /* background-color: var(--bg-color); */
}

img {
    max-width: 100%;
    height: auto;
}


/* CONTAINER */

.container {
    width: 100%;
    max-width: 1320px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}


/* MAIN-CONTENT */

.main-content {
    flex-grow: 1;
}


/* SITE-HEADER */

.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    background-color: var(--header-color);
    text-shadow: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.06);
}

.site-header-logo {
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
}

.button-wrapper {
    display: flex;
    align-items: center;
}

.button-wrapper:hover {
    opacity: 0.8;
}

.button-icon {
    width: 20px;
    height: 20px;
}

.button {
    border: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    background-color: var(--header-color);
    cursor: cell;
    color: var(--main-text);
}


/* COUNTRIES-PAGE */

.countries-page {
    padding-left: 80px;
    padding-right: 80px;
    background-color: var(--bg-color);
}


/* GLOBAL-SEARCH */

.global-search-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 48px;
}

.global-search-from {
    margin-right: 25px;
}

.global-search-from-input {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 74px;
    padding-right: 270px;
    font-size: 14px;
    line-height: normal;
    border: 0;
    border-radius: 5px;
    background-image: url("../img/icon-search-black-min.svg");
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 35px center;
    color: var(--search-color);
    font-weight: 400;
    background-color: var(--header-color);
}

.filter {
    padding-top: 18px;
    padding-bottom: 18px;
}

.filter-select {
    min-width: 200px;
    padding: 18px 24px;
    border: 0;
    border-radius: 5px;
    background-color: var(--header-color);
    color: var(--main-text);
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.06);
}


/* COUNTRIES-CONTENT */

.countries-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
}

.countries-item {
    width: 264px;
    margin-right: 20px;
    /* margin-right: 74px; */
    /* margin: auto; */
    /* margin-left: 0; */
    margin-bottom: 75px;
}

.countries-item:nth-child(4) {
    margin: 0;
}

.countries-item:nth-child(8) {
    margin: 0;
}

.countries-img {
    width: 264px;
    height: 160px;
    object-fit: cover;
}

.country-info {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    width: 264px;
    background-color: var(--header-color);
}

.country-heading {
    margin-top: 0;
    margin-bottom: -2px;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
}

.country-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.country-item {
    margin-top: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
}

.country-item:not(:last-child) {
    margin-bottom: -10px;
}